* {
    margin: 0;
    padding: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
html {
    @import url(https://fonts.google.com/specimen/Montserrat);
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
   display: flex;
   justify-content: center;
   align-items: center;
   
}
/* button */
.btn-cart {
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    padding: 1rem 2rem;
    border-radius:  1rem;
    text-decoration: none;
}
.cart-img {
    margin-right: .5rem;
}

.main-card {
    background-color: aquamarine;
    max-height: 50rem;
    max-width: 40rem;
    display: flex;
    border-radius: 1rem;
   
    
}
.image-section {
    flex: 1 1 20rem;
}
.image-section__desktop {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    max-width: 100%;
    height: auto;
    display: block;

    
}


/* info section */
.info-card {
    flex: 1 1 20rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-card h2 {
    text-transform: uppercase;
}


/* mobile image */
.image-section__mobile {
    display: none;
}